
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
html, body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14pt;
}

input {
  border: solid 1px;
  padding: 4px;
}
input:hover {
  border: 1px solid #999;
  color: #000000;
}
input[type="button"]:active, input[type="reset"]:active {
   border: 1px solid #fa89ad;
   color:#98a077;
   background-color: #000000;
}

#shoppingCartContainer {
  background-color: #aabbff;
  float: right;
}

#shoppingCart {
  list-style-type: none;
}

#shoppingCart li {
  width: 100%;
}

#productTable{
  border: 1px solid black;
  float: left;
  width: 100%;
}

#productTable input {
  width: 60px;
}

#loginFormContainer {
  float: left;

}

#navItems li {
  display: inline;
}

#messages {
  float: left;
  clear: both;
}

#nav {
  background-color: #ccbbaa;
}

#footer {
  background-color: #aabbcc;
  clear: both;
  padding-top: 20px;
}

#logoutFormContainer, #loginFormContainer {
  width: 200px;
}

.info {
  color: #00aa00;
}

.warning {
  color: #FFA500;
}

.error {
  color: #ff0000;
}
